$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Mobile first views */
.web-nav {
  width: 20%;
  height: 100%;
  overflow: auto;
  float: left;
  z-index: 20;
  position: fixed;
  left: 0px;
  background-color: #363535;
  min-height: 600px;
}

.content {
  float: right;
  width: 80%;
  position: relative;
  min-height: 100%;
  overflow: auto;
}

.header,
.footer {
  background-color: #3b3b3b;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position:fixed;
  bottom:0px;
  width:100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

}
